/** Stylesheet **/

body{
    background-color: lavender;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;

}


.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: blueviolet;
    padding:12px;
    font-size:18px;
    color:white;
    margin:0;
    border-radius:24px;
    gap:6px;

}

.left-links ul,.right-links{
    display:flex;
    list-style:none;
    gap:12px;
    margin:0;
    padding:12px;

}

.hero-subtitle{
    text-align:center;
}
.hero-text{
    display:flex;
    justify-content: center;
    font-size:60px;
    font-weight: 900;
}

.logo{
    
  
  width: fit-content;
  height: fit-content;
  margin: auto;
}
   